{% spaceless %}
<form method="post" id="form-{{ form.id }}">
{% for tab in form.tabs %}
  <div class="row">
  {% if tab.showLabel %}<div class="col-sm-12"><h5>{{ tab.label }}</h5></div>{% endif %}
  {% for column in tab.columns %}
    <div class="col-sm-{{ ( column.width / 100 * 12)|round }}">
    {% for section in column.sections %}
    <div class="row">
    {% if section.showLabel %}<div class="col-sm-12"><strong>{{ section.label }}</strong></div>{% endif %}
      <div class="col-sm-12">
      {% for row in section.rows %}
        {% set cellWidth = 12/(row|length) %}
        <div class="row">
        {% for cell in row %}
          {% if cell.isSpacer %}
            <div class="col-12 pb-3 mb-3"></div>
          {% else %}
          {% set control = cell.control %}
            <div class="col-sm-{{ cellWidth }}">
              <div class="form-group row">
                {% set labelWidth = (cell.showLabel? (section.cellLabelPosition == 'top'? 12 : 4) : 0) %}
                {% set controlWidth = (12 - labelWidth) %}
                {% if cell.showLabel and section.cellLabelPosition == 'left' %}
                <label class="col-form-label col-sm-{{ labelWidth }}" for="{{ control.id }}">{{ cell.label }} {{ control.required? '*' : '' }}</label>
                {% elseif cell.showLabel %}
                <div class="col-sm-{{ labelWidth }}" style="text-align:{{ section.cellLabelAlignment }};">
                  <label class="form-control-label" for="{{ control.id }}">{{ cell.label }} {{ control.required? '*' : '' }}</label>
                </div>
                {% endif %}
                <div class="col-sm-{{ controlWidth }} {% if control.name in validationErrors|keys %}has-danger{% endif %}">
                {% if control.classId in [ '{4273EDBD-AC1D-40D3-9FB2-095C621B552D}' ] %}{# text field #}
                  {% if control.name == 'fullname' %}{# decompose fullname into firstname and lastname #}
                    <div class="row">
                      <div class="col-6 {% if 'firstname' in validationErrors|keys %}has-danger{% endif %}">
                        <input type="text" name="firstname" placeholder="First Name" class="form-control form-control-danger" value="{{ attribute(form.record, 'firstname') }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                        {% if 'firstname' in validationErrors|keys %}
                          {% for errorMessage in validationErrors['firstname'] %}
                            <div class="form-control-feedback">{{ errorMessage }}</div>
                          {% endfor %}
                        {% endif %}
                      </div>
                      <div class="col-6 {% if 'lastname' in validationErrors|keys %}has-danger{% endif %}">
                        <input type="text" name="lastname" placeholder="Last Name" class="form-control" value="{{ attribute(form.record, 'lastname') }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                        {% if 'lastname' in validationErrors|keys %}
                          {% for errorMessage in validationErrors['lastname'] %}
                            <div class="form-control-feedback">{{ errorMessage }}</div>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  {% else %}{# text field #}
                    <input type="text" id="{{ control.id }}" name="{{ control.name }}" class="form-control" {% if control.disabled %}readonly="readonly"{% endif %} value="{{ attribute( form.record, control.name ) ?? '' }}">
                    {% for errorMessage in validationErrors[control.name] %}
                      <div class="form-control-feedback">{{ errorMessage }}</div>
                    {% endfor %}
                  {% endif %}
                {% elseif control.classId == '{ADA2203E-B4CD-49BE-9DDF-234642B43B52}' %}{# email field #}
                  <input type="email" id="{{ control.id }}" name="{{ control.name }}" class="form-control" {% if control.disabled %}readonly="readonly"{% endif %} value="{{ attribute( form.record, control.name ) ?? '' }}">
                  {% for errorMessage in validationErrors[control.name] %}
                    <div class="form-control-feedback">{{ errorMessage }}</div>
                  {% endfor %}
                {% elseif control.classId == '{71716B6C-711E-476C-8AB8-5D11542BFB47}' %}{# url field #}
                  <input type="url" id="{{ control.id }}" name="{{ control.name }}" class="form-control" {% if control.disabled %}readonly="readonly"{% endif %} value="{{ attribute( form.record, control.name ) ?? '' }}">
                  {% for errorMessage in validationErrors[control.name] %}
                    <div class="form-control-feedback">{{ errorMessage }}</div>
                  {% endfor %}
                {% elseif control.classId == '{5B773807-9FB2-42DB-97C3-7A91EFF8ADFF}' %}{# datetime field #}
                  {% set dateOnly = (control.metadata.format == 'DateOnly') %}
                  {% set dateFormat = dateOnly? form.options.dateformat : form.options.datetimeformat %}
                  <input type="datetime" id="{{ control.id }}" name="{{ control.name }}" class="form-control {{ dateOnly? 'crm-datepicker' : 'crm-datetimepicker' }}" {% if control.disabled %}disabled="disabled"{% endif %} value="{{ attribute( form.record, control.name )? attribute( form.record, control.name )|date(dateFormat) : '' }}">
                  {% for errorMessage in validationErrors[control.name] %}
                    <div class="form-control-feedback">{{ errorMessage }}</div>
                  {% endfor %}
                {% elseif control.classId == '{67FAC785-CD58-4F9F-ABB3-4B7DDC6ED5ED}' %}{# radio field #}
                  {% set controlValue = attribute( form.record, control.name ).value %}
                  {% if controlValue is null %}
                    {% set controlValue = attribute( form.record, control.name ) %}
                  {% endif %}
                  {% if not control.disabled %}
                    <input type="hidden" name="{{ control.name }}" value="">
                  {% endif %}
                  <div class="form-check form-check-inline">
                    <label class="form-check-label"><input class="form-check-input" type="radio" name="{{ control.name }}" id="{{ control.id }}_true" value="1" {{ controlValue? 'checked="checked"' : '' }} {% if control.disabled %}disabled="disabled"{% endif %}> {{ control.metadata.optionSet.options[1] }}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <label class="form-check-label"><input class="form-check-input" type="radio" name="{{ control.name }}" id="{{ control.id }}_false" value="0" {{ controlValue? '' : 'checked="checked"' }} {% if control.disabled %}disabled="disabled"{% endif %}> {{ control.metadata.optionSet.options[0] }}</label>
                  </div>
                  {% for errorMessage in validationErrors[control.name] %}
                    <div class="form-control-feedback">{{ errorMessage }}</div>
                  {% endfor %}
                {% elseif control.classId == '{3EF39988-22BB-4F0B-BBBE-64B5A3748AEE}' %}{# select field #}
                  {% set controlValue = attribute( form.record, control.name ).value %}
                  {% if controlValue is null %}
                    {% set controlValue = attribute( form.record, control.name ) %}
                  {% endif %}
                  <select id="{{ control.id }}" name="{{ control.name }}" class="form-control" {% if control.disabled %}disabled="disabled"{% endif %}>
                  {% if control.metadata.type == 'Picklist' %}<option value=""></option>{% endif %}
                  {% for optionValue, optionLabel in control.metadata.optionSet.options %}
                    <option value="{{ optionValue }}" {{ (controlValue == optionValue)? 'selected="selected"' : '' }}>{{ optionLabel }}</option>
                  {% endfor %}
                  </select>
                  {% for errorMessage in validationErrors[control.name] %}
                    <div class="form-control-feedback">{{ errorMessage }}</div>
                  {% endfor %}
                {% elseif control.classId == '{B0C6723A-8503-4FD7-BB28-C8A06AC933C2}' %}{# checkbox field #}
                  {% set controlValue = attribute( form.record, control.name ).value %}
                  {% if controlValue is null %}
                    {% set controlValue = attribute( form.record, control.name ) %}
                  {% endif %}
                  {% if not control.disabled %}
                    <input type="hidden" name="{{ control.name }}" value="0">
                  {% endif %}
                  <div class="form-check form-check-inline">
                    <label class="form-check-label"><input type="checkbox" id="{{ control.id }}" name="{{ control.name }}" class="form-check-input" value="1" {{ controlValue? 'checked="checked"' : '' }} {% if control.disabled %}disabled="disabled"{% endif %}></label>
                  </div>
                  {% for errorMessage in validationErrors[control.name] %}
                    <div class="form-control-feedback">{{ errorMessage }}</div>
                  {% endfor %}
                {% elseif control.classId == '{270BD3DB-D9AF-4782-9025-509E298DEC0A}' %}{# lookup field #}
                  <div class="input-group">
                    <input type="text" id="{{ control.id }}" class="form-control" readonly="readonly" value="{{ attribute( form.record, control.name ) }}">
                    {% if not control.disabled %}
                      <span class="input-group-btn">
                      {% if attribute( form.record, control.name ) %}
                        <button class="btn btn-secondary" type="button"><i class="fa fa-times" aria-hidden="true"></i></button>
                      {% else %}
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                      {% endif %}
                      </span>
                    {% endif %}
                  </div>
                  {% for errorMessage in validationErrors[control.name] %}
                    <div class="form-control-feedback">{{ errorMessage }}</div>
                  {% endfor %}
                  <input type="hidden" name="{{ control.name }}" value="{{ [ attribute( form.record, control.name ).logicalName, attribute( form.record, control.name ).id ]|json_encode }}">
                {% elseif control.classId == '{E0DECE4B-6FC8-4A8F-A065-082708572369}' %}{# textarea field #}
                  {% if control.name matches '/address\\d_composite/' %}{# decompose composite address field #}
                    {% set controlPrefix = control.name|slice(0, 8) %}
                    <div class="form-group">
                      <input type="text" name="{{ controlPrefix }}_line1" class="form-control" placeholder="Street 1" value="{{ attribute( form.record, controlPrefix ~ '_line1' ) }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                    </div>
                    <div class="form-group">
                      <input type="text" name="{{ controlPrefix }}_line2" class="form-control" placeholder="Street 2" value="{{ attribute( form.record, controlPrefix ~ '_line2' ) }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                    </div>
                    <div class="form-group">
                      <input type="text" name="{{ controlPrefix }}_line3" class="form-control" placeholder="Street 3" value="{{ attribute( form.record, controlPrefix ~ '_line3' ) }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                    </div>
                    <div class="form-group row">
                      <div class="col-8">
                        <input type="text" name="{{ controlPrefix }}_city" class="form-control" placeholder="City" value="{{ attribute( form.record, controlPrefix ~ '_city' ) }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                      </div>
                      <div class="col-4">
                        <input type="text" name="{{ controlPrefix }}_stateorprovince" class="form-control" placeholder="State/Province" value="{{ attribute( form.record, controlPrefix ~ '_stateorprovince' ) }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <input type="text" name="{{ controlPrefix }}_postalcode" class="form-control" placeholder="ZIP/Postal code" value="{{ attribute( form.record, controlPrefix ~ '_postalcode' ) }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                      </div>
                      <div class="col-8">
                        <input type="text" name="{{ controlPrefix }}_country" class="form-control" placeholder="Country/Region" value="{{ attribute( form.record, controlPrefix ~ '_country' ) }}" {% if control.disabled %}readonly="readonly"{% endif %}>
                      </div>
                    </div>
                  {% else %}{# textarea field #}
                    <textarea class="form-control" id="{{ control.id }}" name="{{ control.name }}" rows="{{ cell.rowspan ?? 3 }}" {% if control.disabled %}readonly="readonly"{% endif %}>{{ attribute( form.record, control.name ) }}</textarea>
                    {% for errorMessage in validationErrors[control.name] %}
                      <div class="form-control-feedback">{{ errorMessage }}</div>
                    {% endfor %}
                  {% endif %}
                {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endfor %}
<div class="row">
  <div class="col-sm-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
<input type="hidden" name="__submission_id" value="{{ form.id }}">
</form>
<script>
    ( function (w) {
        var validationRules = {};

        w.wpcrmFormValidationRules = w.wpcrmFormValidationRules || {};
        w.wpcrmFormValidationRules['{{ form.id }}'] = validationRules;
    }(window) );
</script>
{% endspaceless %}
